.qty {
    border: 1px solid #a6a6a7;
    padding: 5px 12px;
    margin: 0 3px;
}
.order-summary {
    border: 1px solid #a6a6a7;
    padding: 10px;
}
.header-col {
    font-size: 14px;
    text-transform: uppercase;
}
.product-table {
    border: 1px solid #a6a6a7;
    margin-bottom: 10px;
}
.store-info {
    border-top: 1px solid #a6a6a7;
    padding: 10px;
    background: #eeeeee;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .qty {
    border: 1px solid #a6a6a7;
    padding: 2px 4px;
    margin: 0 3px;
}
}